<h1>User</h1>

@* <form action="/user/history" method="get">
  @Html.HiddenFor(u => u.UserId)

  <button type="submit">order history</button>
</form> *@

<a href="/user/history">order history</a>
<a href="/user/order">place order</a>
<a href="/account/logout">logout</a>
