@{
    ViewData["Title"] = "Login Page";
}

@model PizzaBox.Client.Models.LoginModel

<form class="form-group" action="/home/login" method="post">
  <label asp-for="Username">Username</label>
  <input class="form-control" type="text" asp-for="Username">
  @Html.ValidationMessageFor(lm => lm.Username)
  <br>

  <label asp-for="Password">Password</label>
  <input class="form-control" type="password" asp-for="Password">
  @Html.ValidationMessageFor(lm => lm.Password)
  <br>

  <button class="btn btn-primary" type="submit">Log In</button>
</form>