@{
  Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
  ViewData["Title"] = "Customer Home";
}

<br>

<h2><a href="/pizza/location" role="button">Begin Order</a></h2>

<br>
<br>

<h2><a href="/customer/customerhistory" role="button">Order History</a></h2>
